body {
  margin: 0px;
  padding: 0px;
  background-color: #fcfcfc !important;
  font-family: "Open Sans", sans-serif !important;
}

div,
ul,
li,
section,
a {
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  width: 90% !important;
}

#navbar {
  margin: 0px;
  padding: 0px !important;
  height: 5em;
  background-image: url(../IMG/cover.jpg);
  background-position: bottom;
}

.navbar-in {
  justify-content: space-between;
}

.nav-item {
  background-color: rgba(255, 255, 255, 0.15) !important;
  display: flex;
  height: 5em;
  align-items: center;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.nav-link{
 font-size: 1.1em;
 font-weight: bold;
 text-transform: capitalize;
}

.header-icon-container {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-icon {
  position: absolute;
  margin-top: -60px;
}

.header-icon img {
  display: block;
  height: 120px;
  width: 120px;
  border: 8px solid #fafafa;
  border-radius: 50%;
}

.header-title {
  display: flex;
  justify-content: center;
  margin-top: -7.2%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
