/* BIG*/
@media only screen and (min-height: 1080px) {
  [class*="nav-item"] {
    height: 70px;
  }

  [class*="nav-link"] {
    font-size: 1.5em;
    padding: 10px 20px !important;
  }

  [class*="name-title"] {
    margin-top: 5vh;
    font-size: 13.5em;
    letter-spacing: 10px;
  }
  [class*="line"] {
    margin-top: -6vh;
    width: 50%;
  }
  [class*="ocupation"] {
    font-size: 3vh !important;
  }

  [class*="button"] {
    padding: 25px 45px !important;
    font-size: 20px;
  }

  [class*="subtitle"] {
    margin-top: 20vh;
    font-size: 3.7em;
  }

  [class*="com-subtitle"] {
    margin-top: 1vh;
    font-size: 2em;
  }

  [class*="about-title"] {
    font-size: 2.8em;
  }

  [class*="about-subtitle"] {
    font-size: 1.7em;
    margin-top: 0px;
  }

  [class*="about-info"] {
    font-size: 1.3em;
  }

  [class*="menu-footer"] {
    font-size: 1.2em;
  }

  [class*="social"] {
    font-size: 1.4em;
    margin: 0px 10px;
  }

  /*PORFOLIO*/
  [class*="subtitle-tab"] {
    font-size: 3.5em;
    margin-top: 70px;
    margin-bottom: 30px;
  }

  [class*="porfolio-gallery"] > img {
    width: 35vh;
    height: 45vh;
  }

  [class*="modal2"] {
    padding-top: 50px;
  }

  [class*="modal2-content"] {
    max-height: 900px;
  }

  #caption {
    font-size: 2.5vh;
  }

  /* COMMISSIONS */
  [class*="nav-link-com "] {
    width: 190px;
    padding: 0px 15px;
  }

  [class*="nav-link"] {
    height: 100%;
  }

  [class*="window-content"] {
    height: 62vh;
    padding: 25px;
    margin-bottom: 50px;
  }

  [class*="window-title"] {
    margin-bottom: 3%;
    font-size: 2.5em;
  }

  [class*="window-line"] {
    margin-top: -2%;
    width: 60%;
  }

  [class*="com-preview"] > img {
    margin-top: 1.5vh;
    width: 8vh;
    height: 8vh;
  }

  [class*="com-image"] > img {
    margin-top: 1.5vh;
    width: 38vh;
    height: 42vh;
  }

  [class*="com-information"] {
    margin-top: 1.5vh;
    padding: 25px;
  }

  [class*="com-information"] > p {
    margin: 0px !important;
  }

  [class*="com-information-title"] {
    font-size: 2.7em;
    padding: 0px 20px;
  }

  [class*="com-information-subtitle"] {
    font-size: 0.9em;
    letter-spacing: 2px;
    padding: 0px 20px;
    padding-bottom: 20px;
  }

  [class*="com-information-tat"] {
    font-size: 1.2em;
    padding: 0px 30px;
  }

  [class*="com-information-tat2"] {
    padding-left: 30px;
    font-size: 1em;
    padding-bottom: 5px;
  }

  [class*="com-information-details"] {
    padding-left: 30px;
    color: #41689b;
    font-size: 0.95em;
    padding-bottom: 10px;
  }

  [class*="com-information-details2"] {
    color: #000000be;
    font-size: 0.9em;
    padding: 0px;
  }

  [class*="com-information-available"] {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0px 30px;
    padding-bottom: 20px;
  }

  [class*="com-information-more"] {
    font-size: 1.1em;
    padding: 0px 30px;
  }

  [class*="subtitle2-tab"] {
    margin-top: -50px;
    margin-bottom: 3%;
    font-size: 1.9em;
  }

  [class*="terms-info"] {
    width: 75%;
    padding: 50px;
    font-size: 1.6em;
  }

  [class*="terms-window"] {
    padding: 70px;
    padding-bottom: 0px !important;
  }

  [class*="terms-window2"] {
    padding: 70px;
    padding-bottom: 70px !important;
  }

  [class*="terms-title"] {
    padding: 15px 25px;
    letter-spacing: 5px;
    font-size: 2.8em;
  }

  [class*="terms-details"] {
    font-size: 1.55em;
    line-height: 190%;
  }

  /*ABOUT*/
  [class*="about-container"] {
    width: 101%;
    margin: 50px 0px;
  }

  [class*="about-id"] {
    width: 21%;
    height: 64vh;
    margin: 80px 60px 60px 60px;
    padding: 35px 20px;
  }

  [class*="about-id"] > p {
    margin: 0px;
  }

  [class*="hook"] {
    margin-top: -15px;
    left: 303px;
  }

  [class*="hook"] > img {
    width: 80px;
    height: 120px;
  }

  [class*="circle"] {
    background: rgba(109, 109, 109, 0.123);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: -20px !important;
  }

  [class*="id-title"] {
    margin-bottom: 10px !important;
    font-size: 3em;
    color: #f991b0;
    font-weight: bold;
    font-variant: small-caps;
  }

  [class*="id-img"] {
    width: 200px;
    border: 5px solid white;
    border-radius: 5px;
  }

  [class*="id-name"] {
    font-size: 2.5em;
    color: #000000bd;
    font-weight: bold;
    font-variant: small-caps;
  }

  [class*="id-subtitle"] {
    margin-top: -5px !important;
    margin-bottom: 20px !important;
    font-size: 1.1em;
    color: #000000af;
    font-weight: bold;
    font-style: italic;
  }

  [class*="id-detail-title"] {
    font-size: 1.5em;
    font-weight: 800;
  }

  [class*="id-detail"] {
    font-size: 1.1em;
    color: #00000093;
  }

  [class*="id-bar"] {
    z-index: 1;
    width: 180px;
    height: 45px;
    margin-top: 45px !important;
  }

  [class*="about-description"] {
    font-size: 1.5em;
    width: 50%;
    padding: 80px 0px;
  }
    
  [class*="about-social-container"] {
    margin-bottom: 180px;
  }

  [class*="about-social"] {
    margin-top: 13px;
    font-size: 2.7em;
  }

  [class*="about-social-info"] {
    width: 60%;
    font-size: 1.5em;
    margin-bottom: 4%;
  }

  [class*="about-social-link"] {
    width: 150px;
    height: 150px;
    margin: 10px;
    font-size: 0.45em;
  }

  /*MODAL CONTACT*/
  [class*="modal-content"] {
    margin-left: -10vh !important;
    margin-top: 18vh !important;
    width: 150% !important;
  }

  [class*="modal-body"] {
    font-size: 1.5em;
    padding: 1.5em 1em !important;
  }
}

/* MEDIUM */
@media only screen and (max-width: 1366px) {
}

/* SMALL */
@media only screen and (max-width: 768px) {
  /*INDEX responsive items*/
  #navbar {
    background-color: rgba(255, 255, 255, 0.6) !important;
    padding: 8px 0px !important;
  }

  [class*="nav-item"] {
    background-color: rgba(255, 255, 255, 0) !important;
  }

  [class*="nav-item"]:hover {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }

  [class*="title"] {
    margin-top: 2.1vh;
  }

  [class*="sec-1"] {
    background-size: 100%;
    background-position-y: 0%;
  }

  [class*="name-title"] {
    font-size: 4.5em;
    letter-spacing: 5px;
  }
  [class*="line"] {
    margin-top: -20px;
    width: 90%;
  }
  [class*="ocupation"] {
    font-size: 13px !important;
  }

  [class*="button"] {
    padding: 8px 15px !important;
    font-size: 13px;
  }

  [class*="subtitle"] {
    font-size: 1.8em;
  }

  [class*="com-subtitle"] {
    font-size: 1.1em;
  }

  [class*="commission"] > img {
    width: 24vh;
    height: 25vh;
    padding: 10px;
    object-fit: cover;
    border-radius: 1%;
  }

  [class*="about-icon"] {
    width: 50%;
    border-radius: 100px;
  }

  [class*="about-title"] {
    justify-content: center;
  }

  [class*="about-subtitle"] {
    font-size: 1em;
    justify-content: center;
  }

  [class*="gallery"] {
    margin: 30px 5px !important;
    transition: 300ms all;
    padding: 0px !important;
  }

  [class*="gallery"] > img {
    width: 20vh;
    height: 34vh;
    object-fit: cover;
    border-radius: 1%;
  }

  [class*="gallery2"] {
    margin: 15px 10px !important;
    transition: 300ms all;
    padding: 0px !important;
  }

  [class*="gallery2"] > img {
    width: 15vh;
    height: 16vh;
    object-fit: cover;
    border-radius: 1%;
  }

  [class*="footer-content"] {
    justify-content: space-between;
  }

  /*portfolio responsive items*/
  [class*="carousel-item"] {
    height: 20vh;
  }

  [class*="porfolio-gallery"] {
    margin: 10px 10px;
  }

  [class*="porfolio-gallery"] > img {
    float: left;
    width: 20vh;
    height: 28vh;
    object-fit: cover;
    border-radius: 1%;
  }

  [class*="button-up"] {
    font-size: 20px;
    padding: 10px 35px !important;
  }

  [class*="modal2-content"] {
    max-width: 350px;
  }

  [class*="modal2"] {
    padding-top: 80px;
  }

  [class*="subtitle2-tab"] {
    margin-top: -15px;
    margin-bottom: 10%;
    font-size: 1.1em;
  }

  [class*="window-content"] {
    height: 113vh;
    margin-bottom: 65px;
    box-shadow: 0px 23px 30px rgba(0, 0, 0, 0.25) !important;
  }

  [class*="window-title"] {
    font-size: 1.5em;
    letter-spacing: 8px;
  }

  [class*="window-line"] {
    margin-top: 0%;
    width: 90%;
  }

  [class*="nav-link-com"] {
    width: 70px;
  }

  [class*="com-information"] {
    margin-top: 30px;
  }

  [class*="com-preview"] > img {
    width: 6vh;
    height: 6vh;
  }

  [class*="com-image"] {
    margin-right: 0px;
  }

  [class*="com-image"] > img {
    margin-top: 20px;
    width: 34vh;
    height: 34vh;
  }

  [class*="com-information-title"] {
    font-size: 1.8em;
  }

  [class*="com-information-subtitle"] {
    font-size: 0.9em;
  }

  [class*="com-information-details"] {
    color: #41689b;
    font-size: 0.8em;
    padding-bottom: 20px;
  }

  [class*="com-information-details2"] {
    color: #000000be;
    font-size: 0.8em;
    padding: 0px;
  }

  [class*="com-information-more"] {
    padding-bottom: 20px;
  }

  /*terms*/
  [class*="terms-info"] {
    width: 100%;
    padding: 32px;
    margin-bottom: 15%;
    font-size: 1em;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  }

  [class*="terms-window"] {
    width: 95%;
    padding: 25px;
    padding-bottom: 0px !important;
  }

  [class*="terms-window2"] {
    width: 95%;
    padding: 25px;
    padding-bottom: 50px !important;
  }

  [class*="terms-title"] {
    padding: 5px 15px;
    letter-spacing: 1px;
    font-size: 1.4em;
  }

  [class*="terms-details"] {
    font-size: 0.9em;
    line-height: 170%;
    text-align: justify;
    padding-right: 20px;
  }

  /*ABOUT*/
  [class*="about-container"] {
    width: 100%;
    margin: 50px 0px !important;
  }

  [class*="about-id"] {
    width: 105%;
    height: 71vh;
    margin: 0px 60px 60px 60px;
    padding: 35px 20px;
  }

  [class*="about-id"] > p {
    margin: 0px;
  }

  [class*="hook"] {
    left: 0px;
    top: 22px;
  }

  [class*="hook"] > img {
    width: 65px;
    height: 110px;
  }

  [class*="circle"] {
    background: rgba(109, 109, 109, 0.123);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: -20px !important;
  }

  [class*="id-title"] {
    margin-bottom: 15px !important;
    font-size: 2.2em;
  }
  /*ooo*/
  [class*="id-img"] {
    width: 150px;
  }

  [class*="id-name"] {
    font-size: 1.9em;
  }

  [class*="id-subtitle"] {
    margin-top: -11px !important;
    font-size: 0.8em;
  }

  [class*="id-detail-title"] {
    font-size: 1em;
    font-weight: 800;
  }

  [class*="id-detail"] {
    font-size: 0.8em;
    color: #00000093;
  }

  [class*="id-bar"] {
    width: 120px;
    height: 30px;
    margin-top: 30px !important;
  }

  [class*="about-description"] {
    font-size: 1em;
    width: 80%;
    text-align: justify;
    padding: 15px 0px;
  }
    
  [class*="about-social-container"] {
    margin-bottom: 180px;
  }

  [class*="about-social"] {
    margin-top: 13px;
    font-size: 2.7em;
  }

  [class*="about-social-info"] {
    width: 90%;
    font-size: 1em;
    margin-bottom: 4%;
  }

  [class*="about-social-link"] {
    width: 110px;
    height: 110px;
    margin:20px;
    font-size: 0.3em;
  }

  /*MODAL CONTACT*/
  [class*="modal-content"] {
    margin-left: 5vh !important;
    margin-top: 25vh !important;
    width: 80% !important;
  }

  [class*="modal-title"] {
    font-size: 1.5em;
    margin: 0px;
  }

  [class*="modal-body"] {
    font-size: 0.8em;
    padding: 1.5em 1em !important;
  }
}
/* MINI */
@media only screen and (max-width: 375px) {
}
