body{
    margin: 0px;
    padding: 0px;
    background-color:#FCFCFC !important;
   }
   
   div,ul,li,section,a{
       margin: 0px;
       padding: 0px;
   }

   /*.navbar{
    margin: 0px;
    padding: 0px !important;
    height: 5em;
    justify-content: space-between;
    background-color: red !important;
   }

  .nav-item{
      background-color: purple !important;
      display: flex;
      height: 5em;
      align-items: center;
  }

  .nav-link{
      color: pink;
  }

  .nav-item:hover{
      background-color: royalblue !important;
  }*/

  .header-icon-container{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header-icon{
    position: absolute;
    margin-top: -60px;
  }

  .header-icon img {
    display: block;
    height: 120px;
    width: 120px;
    border: 8px solid #fafafa;
    border-radius: 50%;
}

.header-title {
    display: flex;
    justify-content: center;
    margin-top: -7.2%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 30px;
}