/*portfolio*/
.carousel {
  width: 95%;
  margin-bottom: 4%;
}

.carousel-item {
  height: 37vh;
}

.carousel1 {
  background-image: url(https://64.media.tumblr.com/57f1c5014ae6e67d0d60203cab03056d/96efae5b02b7f830-0e/s2048x3072/e1d06c26c490f88710c4e45aee114690a1421d7f.png);
  background-position: 40% 30%;
  background-size: 100%;
}

.carousel2 {
  background-image: url(https://64.media.tumblr.com/0bf2ae51baa96e83d84124a68923438d/ef3108ec3e82d0a5-8f/s2048x3072/cd40444097317f6eebdb87441c8820e4bd371bce.png);
  background-position: 40% 30%;
  background-size: 100%;
}

.carousel3 {
  background-image: url(https://64.media.tumblr.com/23bfef8fdb3375d6ea82f1cee944af86/a0621f14eac02100-3a/s2048x3072/fb23ed85e61567caa93727b5b6430297a3c9f92e.png);
  background-position: 40% 55%;
  background-size: 100%;
}

.porfolio-gallery {
  margin: 15px 15px;
  cursor: pointer;
  transition: 300ms all;
}

.porfolio-gallery:hover {
  transform: scale(1.05);
}

.porfolio-gallery > img {
  float: left;
  width: 41vh;
  height: 55vh;
  object-fit: cover;
  border-radius: 1%;
}

.button-up {
  background-color: #f991b0;
  color: white;
  border: none;
  font-size: 20px;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  transition: 300ms all;
}

.button-up:hover {
  background-color: #ae657b;
  transform: scale(1.02);
}

.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 100px;
}

.modal2-content {
  margin: auto;
  display: block;
  max-height: 510px;
  border-radius: 0.5%;
}

.modal2-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Close Button */
.close {
  position: absolute;
  top: 25px;
  right: 35px;
  color: #f1f1f1;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*commissions*/
.subtitle2-tab {
  margin-top: -50px;
  margin-bottom: 3%;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-variant: small-caps;
}

.window-top {
  display: flex;
  align-items: center;
  padding-right: 15px;
  justify-content: space-between;
  background-color: #f991b05b;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.window-content {
  height: 67vh;
  padding: 20px;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0px 0px 5px 5px;
  border: solid #f991b05b 3px;
  border-top: none;
  box-shadow: 0px 29px 40px rgba(0, 0, 0, 0.3);
}

.window-tab {
  color: white;
}

.window-title {
  color: #f991b0;
  margin-bottom: 3%;
  font-size: 2.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 10px;
}

.window-line {
  margin-top: -2%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.185);
}

.nav-tabs .nav-link {
  color: #975d6ebe;
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.nav-item-com {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 5px 5px 0px 0px;
  height: 50px;
  display: flex;
  align-items: center;
  color: #f991b0;
}

.nav-link-com {
  width: 150px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.com-preview > img {
  float: left;
  width: 9.5vh;
  height: 9vh;
  object-fit: cover;
  border-radius: 15%;
  padding: 5px;
  cursor: pointer;
}

.com-preview > img:hover {
  transform: scale(1.05);
}

.com-image {
  padding: 0px !important;
  margin-right: 30px;
}

.com-image > img {
  float: left;
  width: 45vh;
  height: 45vh;
  object-fit: cover;
  border-radius: 2%;
}

.com-information {
  background-color: rgba(255, 255, 255, 0.815);
  border: solid rgba(0, 0, 0, 0.1) 1px;
  border-radius: 5px;
  padding: 20px;
}

.com-information > p {
  margin: 0px !important;
}

.com-information-title {
  color: #f991b0;
  font-size: 1.5em;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 4px;
}

.com-information-subtitle {
  color: #0000007e;
  font-size: 0.8em;
  letter-spacing: 2px;
  padding-bottom: 15px;
  font-weight: bold;
}

.com-information-tat {
  padding-left: 10px;
  color: #000000;
  font-size: 0.9em;
  font-weight: bold;
}

.com-information-tat2 {
  padding-left: 10px;
  color: #000000;
  font-size: 0.8em;
  padding-bottom: 20px;
}

.com-information-details {
  padding-left: 10px;
  color: #41689b;
  font-size: 0.8em;
  padding-bottom: 15px;
}

.com-information-details2 {
  color: #000000be;
  font-size: 0.9em;
}

.com-information-available {
  padding-left: 10px;
  color: #3d8a0b;
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 10px;
}

.com-information-more {
  padding-left: 10px;
  color: #41689b;
  font-size: 0.8em;
  padding-bottom: 0px;
}

.com-information-more > a {
  color: #41689b;
}

.com-information-more:hover {
  color: #000000;
  font-size: 0.8em;
}

/*Commissions terms*/

.terms-info {
  width: 70%;
  margin-bottom: 4%;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  font-size: 0.98em;
  line-height: 190%;
  text-align: justify;
}

.terms-window {
  width: 65%;
  padding: 40px;
  padding-bottom: 0px !important;
  background-color: #f991b049;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.terms-window2 {
  width: 65%;
  margin-bottom: 100px;
  padding: 40px;
  background-color: #f991b049;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 38px 40px rgba(0, 0, 0, 0.1);
}

.terms-title {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 7px;
  color: #f991b0;
  letter-spacing: 2px;
  font-size: 1.5em;
  font-weight: bold;
  font-variant: small-caps;
}

.terms-details {
  margin-left: 25px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.95em;
  line-height: 190%;
}

/*ABOUT*/
.about-container {
  width: 101%;
  margin: 50px 0px;
  background-color: rgba(255, 255, 255, 0.6);
}

.about-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 70vh;
  margin: 80px 60px 60px 60px;
  padding: 35px 20px;
  background-image: url(https://64.media.tumblr.com/a4bd71d3c213ac560574471c78d3d140/b5aee68b4f16152b-84/s500x750/1f64d71cf717eb0ef386eee1ecb88d65ce75fb46.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}

.about-id > p {
  margin: 0px;
}

.hook {
  z-index: 1;
  margin-top: -7px;
  left: 246px;
  position: relative;
}

.hook > img {
  width: 65px;
  height: 110px;
}

.circle {
  background: rgba(109, 109, 109, 0.123);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-top: -20px !important;
}

.id-title {
  margin-bottom: 10px !important;
  font-size: 2em;
  color: #f991b0;
  font-weight: bold;
  font-variant: small-caps;
}

.id-img {
  width: 150px;
  border: 5px solid white;
  border-radius: 5px;
}

.id-name {
  font-size: 1.5em;
  color: #000000bd;
  font-weight: bold;
  font-variant: small-caps;
}

.id-subtitle {
  margin-top: -5px !important;
  margin-bottom: 20px !important;
  font-size: 0.8em;
  color: #0000009a;
  font-weight: bold;
  font-style: italic;
}

.id-detail-title {
  font-size: 0.85em;
  color: #000000bd;
  font-weight: bold;
  margin-bottom: 3px !important;
}

.id-detail {
  font-size: 0.8em;
  color: #00000093;
}

.id-bar {
  z-index: 1;
  width: 130px;
  height: 30px;
  margin-top: 35px !important;
}

.about-description {
  width: 50%;
  padding: 80px 0px;
}

.about-social-container {
  margin-bottom: 100px;
}

.about-social-info {
  width: 55%;
  font-size: 0.9em;
  margin-bottom: 3.5%;
  text-align: justify;
}

.about-social {
  margin-top: 13px;
  font-size: 2.7em;
  margin-bottom: 10px;
}

.about-social-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: #f8d1dc48;
  margin: 8px;
  font-size: 0.8em;
  color: #000000a4;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.507);
}

.about-social-link:hover {
  transform: scale(1.1);
  background-color: rgba(238, 177, 195, 0.521);
  color: #000000da;
}

/*MODAL CONTACT*/
.modal-content {
  margin-top: 15vh !important;
  width: 100% !important;
}

.modal-body {
  font-size: 1em;
}
