body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif !important;
}

div,
ul,
li,
section,
a,
p {
  margin: 0px;
  padding: 0px;
}

.button {
  color: #ffffff;
  background-color: #f991b0;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: 300ms all;
}

.button:hover {
  background-color: #ae657b;
  transform: scale(1.02);
}

.container-fluid {
  width: 90% !important;
}

.sec-1 {
  background-image: url(../IMG/back.jpg);
  opacity: 90%;
  background-size: 110%;
  background-position-y: 80%;
  background-repeat: no-repeat;
}

.icon {
  width: 100px;
  padding-right: 8px;
}

#navbar {
  margin: 0px;
  padding: 0px !important;
  background-color: rgba(255, 255, 255, 0.25) !important;
}

.navbar-in {
  justify-content: space-between;
}

.nav-item {
  background-color: rgba(255, 255, 255, 0.5) !important;
  height: 52px;
  display: flex;
  align-items: center;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 1) !important;
}

.nav-link {
  font-size: 1.3em;
  font-weight: bold;
  font-variant: small-caps;
}

.title {
  margin-top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name-title{
  font-size: 12em;
  font-weight: 600;
  font-variant: small-caps;
  font-stretch: extra-expanded;
  letter-spacing: 20px;
  opacity: 100%;
}

.line {
  margin-top: -4%;
  width: 55%;
  background-color: rgb(0, 0, 0);
  opacity: 60%;
}

.ocupation {
  font-size: 1.5em;
  font-style: italic;
  opacity: 70%;
}

.subtitle {
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-variant: small-caps;
}

.gallery1,
.gallery3 {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
  transition: 300ms all;
}

.gallery2 {
  margin-bottom: 8%;
  margin-left: 5%;
  width: 90%;
  transition: 300ms all;
}

.gallery1:hover,
.gallery2:hover,
.gallery3:hover {
  transform: scale(1.02);
}

.commission1,.commission2,.commission3{
  width: 90%;
  transition: 300ms all;
}

.commission2{
  margin-top: 10%;
}

.commission3{
  margin-top: 20%;
}

.commission1:hover,.commission2:hover,.commission3:hover{
  transform: scale(1.02);
}


.com-subtitle{
 font-size: 1.7em;
 font-style: oblique;
}

@media only screen and (max-width: 768px) {
  [class*="sec-1"]  {
    background-size: 100%;
    background-position-y: 0%;
  }
  [class*="name-title"] {
      font-size: 4.5em;
      letter-spacing: 5px;  
  }
  [class*="line"] {
    margin-top: -20px;
    width: 90%;
  }
  [class*="ocupation"] {
    font-size: 13px !important;
  }

  [class*="button"]  {
    padding: 8px 15px !important;
    font-size: 13px;
  }

  [class*="subtitle"] {
    font-size: 1.8em;
  }
  [class*="com-subtitle"] {
    font-size: 1.1em;
  }
}
