/*portfolio*/
.carousel {
  width: 95%;
  margin-bottom: 4%;
}

.carousel-item {
  height: 37vh;
}

.carousel1 {
  background-image: url(https://64.media.tumblr.com/57f1c5014ae6e67d0d60203cab03056d/96efae5b02b7f830-0e/s2048x3072/e1d06c26c490f88710c4e45aee114690a1421d7f.png);
  background-position: 40% 30%;
  background-size: 100%;
}

.carousel2 {
  background-image: url(https://64.media.tumblr.com/0bf2ae51baa96e83d84124a68923438d/ef3108ec3e82d0a5-8f/s2048x3072/cd40444097317f6eebdb87441c8820e4bd371bce.png);
  background-position: 40% 30%;
  background-size: 100%;
}

.carousel3 {
  background-image: url(https://64.media.tumblr.com/23bfef8fdb3375d6ea82f1cee944af86/a0621f14eac02100-3a/s2048x3072/fb23ed85e61567caa93727b5b6430297a3c9f92e.png);
  background-position: 40% 55%;
  background-size: 100%;
}

.porfolio-gallery {
  margin: 15px 15px;
  cursor: pointer;
  transition: 300ms all;
}

.porfolio-gallery:hover {
  transform: scale(1.05);
}

.porfolio-gallery > img {
  float: left;
  width:  41vh;
  height: 55vh;
  object-fit: cover;
  border-radius: 1%;
}

.button-up {
  background-color: #f991b0;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: 300ms all;
}

.button-up > img{
  width: 22%;
  height: 90%;
}

.modal2 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 80px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 100px;
}

.modal2-content {
  margin: auto;
  display: block;
  max-height: 510px;
  border-radius: 0.5%;
}

.modal2-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* Close Button */
.close {
  position: absolute;
  top: 25px;
  right: 35px;
  color: #f1f1f1;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
